body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.menu-container {
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
}

.logo {
    display: flex;
    margin-left: 240px;
}

.logo-photo {
    width: 86.041px;
    height: 40px;
    padding-top: 44px;
}

.logo-title {
    text-align: center;
    font-size: 2.8rem;
    font-weight: 700;
    padding-left: 20px;
}

.text-primary {
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.menus {
    display: flex;
    margin-right: 240px;
    /* align-items: center; */
}



.item {
    /* margin-right: 240px; */
    padding-right: 32px;
    font-size: 18px;
    cursor: pointer;
    padding-top: 20px;
}

.menus-item {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    display: flex;
    align-items: center;
}

.menus-item li {
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    padding: 18px 24px;
    /* margin-bottom: 20px; */
}

.fa-youtube {
    color: #F61C0D;
    padding-right: 16px;
}

.fa-tiktok {
    color: rgba(0, 0, 0, 1);
}

.banner {
    background: #FFF;
    width: 1920px;
    display: flex;
    justify-content: space-around;
    /* text-align: center; */
}


.banner-container {
    background-image: url('../images/Group\ 14.png');
    /* width: 901px;
    height: 700px; */
    background-repeat: no-repeat;
    /* padding-left: 240px; */
    padding: 148px 300px 148px 244px;
}

.banner-title-one {
    color: #0B0223;
    /* text-align: center; */
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
    /* padding-bottom: 20px; */
}

.banner-title-two {
    /* text-align: center; */
    font-size: 5.93rem;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
}

.play {
    color: #534C64;
    /* text-align: center; */
    font-size: 1.25;
    font-weight: 500;
    text-transform: lowercase;
}

.fa-circle-play {
    color: #FF42A5;
    padding-right: 12px;
}

.download {
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
}

.fa-download {
    color: #FF42A5;
    padding-right: 12px;
}

.user {
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
}

.fa-user-group {
    color: #0B0223;
    padding-right: 12px;
}

.btn-primary {
    background-color: #FF42A5;
    border-radius: 48px;
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
    border: 0;
}

.btn-optional {
    background-color: #4EC5F7;
    border-radius: 48px;
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
    border: 0;
}

.banner-img {
    width: 711px;
    padding-right: 240px;
}

.gamer-container {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    display: flex;
    justify-content: space-around;
}

.gamer-title {
    text-align: right;
    font-size: 3rem;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gamer-discription {
    color: #534C64;
    text-align: right;
    font-size: 18px;
    font-weight: 400;
}

.btn-info {
    display: flex;
    justify-content: end;
}

.gamer-quote {
    text-align: right;
}

.purpose {
    color: #534C64;
    font-size: 1.5rem;
    font-weight: 500;
}

.unleash {
    color: #534C64;
    font-size: 2rem;
    font-weight: 700;
}

.online-games {
    background: #FFF;
    margin-bottom: 100px;
}

.online-games-title {
    color: #0B0223;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
}

.online-games-quotes {
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
}

.funny-text {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.online-games-description {
    color: #534C64;
    text-align: center;
    font-family: Work Sans;
    font-size: 1.125rem;
    font-weight: 400;
    padding-bottom: 48px;
}

.online-games-pic {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.image-container {
    position: relative;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    /* Change the background color and opacity as needed */
    opacity: 0;
    transition: opacity 0.3s ease;
}

.overlay i,
.overlay span {
    color: white;
    font-size: 36px;
}

.overlay span {
    margin-left: 10px;
}

.image-container:hover .overlay {
    opacity: 1;
}

.play-instant-container {
    background: #FFF;
    display: flex;
    justify-content: space-around;
    margin: 0px 240px 150px;
    align-items: center;
    /* width: 1920px; */
}

.play-instant-info {
    align-items: center;
}

.play-instant-title {
    text-align: right;
    font-size: 3rem;
    font-weight: 700;
}

.play-text {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.download-text {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 700;
}

.play-description-primary {
    color: #534C64;
    text-align: right;
    font-size: 18px;
    font-weight: 400;
}


.main-image {
    border-radius: 8px;
    position: relative;
}

.relative-image {
    border-radius: 8px;
    /* border: 10px solid #FFF; */
    /* position: absolute; */
    margin-top: -300px;
    margin-left: -150px;
    position: absolute;
}

.play-games-container {
    background: #FFF;
    display: flex;
    justify-content: space-around;
    margin: 0px 240px 300px;
    align-items: center;
}

.relative-image-secondary {
    border-radius: 8px;
    /* border: 10px solid #FFF; */
    /* position: absolute; */
    margin-top: -250px;
    right: 850px;
    position: absolute;
}

.play-games-info {
    align-items: center;
}

.play-games-title {
    text-align: left;
    font-size: 3rem;
    font-weight: 700;
}

.careers {
    width: 1920px;
    height: 821px;
    background: #F948B2;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.careers-container {
    padding: 75px 0px 0px 240px;
}

.careers-title {
    color: #FFF;
    font-size: 3rem;
    font-weight: 700;
    text-align: left;
}

.careers-description {
    color: #FFF;
    font-size: 1.125rem;
    font-weight: 400;
    text-align: left;
    width: 680px;
    line-height: 30px;
}

.careers-info {
    display: flex;
    justify-content: space-between;
    gap: 80px;
}

.info-one {
    text-align: left;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
}

.info-two {
    color: #FFF;
    text-align: right;
    font-size: 20px;
    font-weight: 600;
}

.careers-btn-info {
    text-align: left;
    padding-top: 40px;
}

.btn-careers {
    background-color: #FFF;
    border-radius: 48px;
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    color: #FF42A5;
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
    border: 0;
}

.games-container {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    width: 1700px;
    margin: 0 auto;
}

.games-info-one {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    margin-top: 149px;
    margin-bottom: 100px;
}


.games-title-info:hover {
    border: 1px solid red;
    border-radius: 50px;
    transition: 1s;
    padding: 4px;


}

.games-title-info {
    display: flex;
    align-items: center;
    gap: 16px;
}

.footer-section {
    width: 1920px;
    background: #0B0223;


}

.footer-logo {
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.text-secondary {
    color: #FFF;
    font-size: 2.8rem;
    font-weight: 700;
}

.footer-logo-photo {
    width: 86.041px;
    height: 40px;
    padding-top: 40px;
}

.footer-logo-title {
    text-align: center;
    font-size: 2.8rem;
    font-weight: 700;
    padding-left: 20px;
}

.footer-categories {
    display: flex;
    gap: 60px;
    justify-content: center;
    color: #FFF;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 600;
}

.footer-icon {
    gap: 40px;
    justify-content: center;
    display: flex;
}

.footer-small {
    color: rgba(255, 255, 255, 0.60);
    display: flex;
    gap: 60px;
    justify-content: center;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
}

.footer-description {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 100px;
}



/* responsive start */

@media screen and (max-width: 576px) {
    .menus {
        justify-content: center;
        flex-direction: column;
        margin-left: 300px;
    }

    .menu-container {
        justify-content: center;
        flex-direction: column;

    }

    .logo {
        margin-left: 100px;
    }

    .menus-item {
        flex-direction: row;

    }

    .item {
        padding-bottom: 20px;
    }

    .banner {
        flex-direction: column;
        justify-content: center;

    }

    .banner-container {
        padding-left: 80px;
        padding-top: 20px;
    }

    .banner-img img {
        width: 80%;

    }

    .gamer-container {
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .gamer-discription {
        text-align: center;
    }

    .gamer-title {
        text-align: center;
    }



    .btn-info {

        justify-content: center;
    }

    .gamer-quote {
        text-align: center;
    }

    .purpose {
        font-size: 16px;
    }

    .unleash {
        font-size: 19px;
    }

    .online-games {
        justify-content: center;
        flex-direction: column;

    }

    .online-games-title {
        font-size: 2rem;
    }

    .online-games-pic {
        flex-direction: column;

        align-items: center;
    }

    .online-games-quotes {
        font-size: 18px;
    }

    .play-instant-container {
        justify-content: center;
        flex-direction: column;
        align-items: center;

    }

    .play-instant-title {
        text-align: center;
        font-size: 2rem;
        font-weight: 400;
    }



    .download-text {

        font-size: 2rem;
        font-weight: 400;
    }

    .play-games-container {
        justify-content: center;
        flex-direction: column;
    }

    .careers {
        justify-content: center;
        flex-direction: column;
        width: 576px;
        height: 1000px;


    }

    .careers-container {
        padding: 5px;
        margin: 100px;
    }

    .careers-description {
        font-size: 12px;
    }

    .info-one {
        font-size: 12px;
    }

    .info-two {
        font-size: 12px;
    }

    .carrers-image {
        width: 70%;

    }

    .games-info-one {
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        padding: 20px;


    }

    .games-info-two {
        grid-template-columns: repeat(3, 1fr);

    }


    .games-container {
        width: 300px;
        padding: 20px;
    }

    .footer-categories {
        flex-direction: column;
        gap: 10px;
    }

    .footer-icon {

        gap: 20px;
    }

    .footer-section {
        width: 576px;
    }

    .footer-small {
        flex-direction: column;
        gap: 15px;
    }




}

@media screen and (min-width: 576px) and (max-width: 992px) {
    .menus {
        justify-content: center;
        flex-direction: column;
        margin-left: 300px;
    }

    .menu-container {
        justify-content: center;
        /* flex-direction: column; */

    }

    .logo {
        margin-left: 100px;
    }

    .menus-item {
        flex-direction: row;

    }

    .item {
        padding-bottom: 20px;
    }

    .banner {
        flex-direction: column;
        justify-content: center;
        margin-left: 50px;

    }

    .banner-container {
        padding-left: 120px;
        padding-top: 20px;
    }

    .banner-img img {
        width: 100%;

    }

    .gamer-container {
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .gamer-discription {
        text-align: center;
    }

    .gamer-title {
        text-align: center;
    }



    .btn-info {

        justify-content: center;
    }

    .gamer-quote {
        text-align: center;
    }

    .purpose {
        font-size: 16px;
    }

    .unleash {
        font-size: 19px;
    }

    .online-games {
        justify-content: center;
        flex-direction: column;

    }

    .online-games-title {
        font-size: 2rem;
    }

    .online-games-pic {
        flex-direction: column;

        align-items: center;
    }

    .online-games-quotes {
        font-size: 18px;
    }

    .play-instant-container {
        justify-content: center;
        flex-direction: column;
        align-items: center;

    }

    .play-instant-title {
        text-align: center;
        font-size: 2rem;
        font-weight: 400;
    }



    .download-text {

        font-size: 2rem;
        font-weight: 400;
    }

    .play-games-container {
        justify-content: center;
        flex-direction: column;
    }

    .careers {
        justify-content: center;
        flex-direction: column;
        width: 992px;
        height: 1000px;


    }

    .careers-container {
        padding: 5px;
        margin: 100px;
    }

    .careers-description {
        font-size: 12px;
    }

    .info-one {
        font-size: 12px;
    }

    .info-two {
        font-size: 12px;
    }

    .carrers-image {
        width: 70%;

    }

    .games-info-one {
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        padding: 20px;


    }

    .games-info-two {
        grid-template-columns: repeat(3, 1fr);

    }


    .games-container {
        width: 300px;
        padding: 20px;
    }

    .footer-categories {
        flex-direction: column;
        gap: 10px;
    }

    .footer-icon {

        gap: 20px;
    }

    .footer-section {
        width: 992px;
    }

    .footer-small {
        flex-direction: column;
        gap: 15px;
    }
}